In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler ,LabelEncoder
import pickle

In [39]:
#loading the dataset
data = pd.read_csv("asd_toddlers.csv")
data

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,family member,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,family member,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,family member,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,family member,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,family member,Yes

In [40]:
## preprocess the data
#drop irrevelant colums
data=data.drop(['Case_No','Who completed the test'],axis=1)

In [41]:
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,No
1,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,No
1050,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,Yes
1051,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,Yes
1052,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,No
1053,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,Yes

In [42]:
#encoding categorical variable (for datas like anme)
label_encoder_fammem=LabelEncoder()
data['Family_mem_with_ASD']=label_encoder_fammem.fit_transform(data['Family_mem_with_ASD'])
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,0,No
1,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,0,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,0,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,0,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,1,No
1050,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,0,Yes
1051,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,0,Yes
1052,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,1,No
1053,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,1,Yes

In [43]:

#encoding categorical variable (for datas like anme)
label_encoder_class =LabelEncoder()
data['Class/ASD Traits ']=label_encoder_class.fit_transform(data['Class/ASD Traits '])
data

KeyError: 'Class/ASD Traits '

In [44]:

#encoding categorical variable (for datas like anme)
label_encoder_sex =LabelEncoder()
data['Sex']=label_encoder_sex.fit_transform(data['Sex'])

label_encoder_jaundice =LabelEncoder()
data['Jaundice']=label_encoder_jaundice.fit_transform(data['Jaundice'])
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,0,middle eastern,1,0,No
1,1,1,0,0,0,1,1,0,0,0,36,4,1,White European,1,0,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,1,middle eastern,1,0,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,1,Hispanic,0,0,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,0,White European,0,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,1,0,White European,0,1,No
1050,0,0,1,1,1,0,1,0,1,0,12,5,1,black,1,0,Yes
1051,1,0,1,1,1,1,1,1,1,1,18,9,1,middle eastern,1,0,Yes
1052,1,0,0,0,0,0,0,1,0,1,19,3,1,White European,0,1,No
1053,1,1,0,0,1,1,0,1,1,0,24,6,1,asian,1,1,Yes

In [ ]:
#onehot encode for multiple vairbale input lik3 
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_ethinicity=OneHotEncoder()
geo_encoder = onehot_encoder_ethinicity.fit_transform(data[['Ethnicity']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1054 stored elements and shape (1054, 11)>

In [46]:
onehot_encoder_ethinicity.get_feature_names_out(['Ethnicity'])

array(['Ethnicity_Hispanic', 'Ethnicity_Latino',
       'Ethnicity_Native Indian', 'Ethnicity_Others',
       'Ethnicity_Pacifica', 'Ethnicity_White European',
       'Ethnicity_asian', 'Ethnicity_black', 'Ethnicity_middle eastern',
       'Ethnicity_mixed', 'Ethnicity_south asian'], dtype=object)

In [47]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_ethinicity.get_feature_names_out(['Ethnicity']))

In [48]:
geo_encoded_df

,Ethnicity_Hispanic,Ethnicity_Latino,Ethnicity_Native Indian,Ethnicity_Others,Ethnicity_Pacifica,Ethnicity_White European,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1049,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1051,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1052,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1053,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [49]:
#combin coums of all one hot to originl
data =pd.concat([data.drop('Ethnicity',axis=1),geo_encoded_df],axis=1)

In [64]:
#save the encoders and scaler
with open('label_encoder_class.pkl','wb') as file:
    pickle.dump(label_encoder_class,file)

with open('label_encoder_fammem.pkl','wb') as file:
    pickle.dump(label_encoder_fammem,file)

with open('label_encoder_jaundice.pkl','wb') as file:
    pickle.dump(label_encoder_jaundice,file)
with open('label_encoder_sex.pkl','wb') as file:
    pickle.dump(label_encoder_sex,file)
#save the encoders and scaler
with open('label_encoder_ethnicity.pkl','wb') as file:
    pickle.dump(onehot_encoder_ethinicity,file)

In [65]:
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_Latino,Ethnicity_Native Indian,Ethnicity_Others,Ethnicity_Pacifica,Ethnicity_White European,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian
0,0,0,0,0,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,1,0,0,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0,0,0,0,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,1,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,0,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1050,0,0,1,1,1,0,1,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1051,1,0,1,1,1,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1052,1,0,0,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1053,1,1,0,0,1,1,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [66]:
# divide for inspendent and depend featus
X = data.drop('Class/ASD Traits',axis=1)
y= data['Class/ASD Traits']

##split the data in trainig an testing sets
X_train,X_test ,y_train,y_test  =train_test_split(X,y,test_size=0.2,random_state=42)

#scale these featrues
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [67]:
#save the scaler
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [68]:
#ANN implementatioon
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping ,TensorBoard
import datetime

In [69]:
#buiild our ann model
model =Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),#hl1 connceted to input
    Dense(32,activation='relu'),#hl2
    Dense(1,activation='sigmoid')#op
    
])

In [70]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                1728

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 3841 (15.00 KB)
Trainable params: 3841 (15.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [71]:
import tensorflow
opt= tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [72]:
#compile the model
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [73]:
#setup the tensorboard 
from tensorflow.keras.callbacks import EarlyStopping ,TensorBoard
log_dir='logs/fit'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [74]:
#setup earlystopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [75]:
#train the model
histoey = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100

UnimplementedError: Graph execution error:

Detected at node binary_crossentropy/Cast defined at (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main

  File "<frozen runpy>", line 88, in _run_code

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start

  File "C:\Users\Santhana Krishnan V\AppData\Local\Programs\Python\Python311\Lib\asyncio\base_events.py", line 608, in run_forever

  File "C:\Users\Santhana Krishnan V\AppData\Local\Programs\Python\Python311\Lib\asyncio\base_events.py", line 1936, in _run_once

  File "C:\Users\Santhana Krishnan V\AppData\Local\Programs\Python\Python311\Lib\asyncio\events.py", line 84, in _run

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\kernelbase.py", line 534, in process_one

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\ipkernel.py", line 362, in execute_request

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\kernelbase.py", line 778, in execute_request

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\ipkernel.py", line 449, in do_execute

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code

  File "C:\Users\Santhana Krishnan V\AppData\Local\Temp\ipykernel_28016\595299872.py", line 2, in <module>

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\utils\traceback_utils.py", line 65, in error_handler

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py", line 1807, in fit

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py", line 1401, in train_function

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py", line 1384, in step_function

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py", line 1373, in run_step

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py", line 1151, in train_step

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py", line 1209, in compute_loss

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\compile_utils.py", line 277, in __call__

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\losses.py", line 143, in __call__

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\losses.py", line 270, in call

  File "d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\losses.py", line 2521, in binary_crossentropy

Cast string to float is not supported
	 [[{{node binary_crossentropy/Cast}}]] [Op:__inference_train_function_206963]

In [26]:
model.save('model.h5')

d:\FinalYearProject\main\.venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [35]:
#load tesnorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [36]:
%tensorboard --logdir logs/fit20241117-111124